html {
    font-family: Inter, sans-serif;

}

.homepage-wrapper {
    background-image: linear-gradient(#fff8ee, #fff8ee, white);
}

.homepage-h2 {
    color: #233506;
    font-family: Epilogue, sans-serif;
    font-weight: bold;
    font-size: 50px;
    padding: 0px;
    margin-bottom: 0px;

}

.hompage-hero {
    padding-top: 80px;
}

.muted-text {
    color: #ccc;
}

.root-orange {
    color: #ff800b;
}


.vue-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px
}

@media (min-width: 476px) {
    .vue-container {
        padding-right: 15px;
        padding-left: 15px
    }
}

@media (min-width: 768px) {
    .vue-container {
        padding-right: 15px;
        padding-left: 15px
    }
}

@media (min-width: 992px) {
    .vue-container {
        padding-right: 15px;
        padding-left: 15px
    }
}

@media (min-width: 1200px) {
    .vue-container {
        padding-right: 15px;
        padding-left: 15px
    }
}

@media (min-width: 476px) {
    .vue-container {
        width: 100%
    }
}

@media (min-width: 768px) {
    .vue-container {
        width: 720px;
        max-width: 100%
    }
}

@media (min-width: 992px) {
    .vue-container {
        width: 960px;
        max-width: 100%
    }
}

@media (min-width: 1200px) {
    .vue-container {
        width: 1140px;
        max-width: 100%
    }
}

@media (min-width: 1400px) {
    .vue-container {
        width: 1340px;
        max-width: 100%
    }
}